* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    
}

:root {
    --primary-green: #285238;
    --primary-text: #32292F;
    --secondary-text:#5E6367;
    --primary-hover: #FE5F55;
    --primary-light: #EEE8AA;
    --primary-font: 'Raleway';

}

/* Home page + nav + footer */

body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

    
   
}



.mainImage {
    max-width: 100%;
    width: 100%;
    height: auto;



}

.link {
    color: var(--primary-hover);

} 



header {
    text-align: center;
    padding: 2em 0 0 0;
   
        
}


nav {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


nav ul {
    list-style: none;
    padding: 2em 0 2em 5em;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    color: var(--primary-green);
    
    
}

nav li {
    font-size: 1.2rem;
    margin-top: 1em;
  
}


nav ul li a {
    text-decoration: none;
    color: var(--secondary-green);
    padding: 0 1.1em;
    font-weight: 500;
   
}


nav ul li a:hover {
    color: var(--primary-hover);
   
}


.stars {
    display: flex;
    flex-direction: row;
    margin: 0.4em 0 0 1em;


}

.stars img {
    margin: 0 0.3em;

}


.btn {
    background-color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    text-decoration: none;
    border: solid 0.1em var(--primary-hover);
    border-radius: 0.2em;
    transition: transform 0.3s ease, background-color 0.3s ease;  
}

.btn a {
    text-decoration: none;
    color: var(--primary-text);
}


.btn:hover {
    color: var(--primary-text);
    transform: translateY(-5px); 
}

.bookButton {
    margin: 0.7em 0 0 0;
}



main {
    margin: 4em 0 0 0;
    padding: 2em;
}


main h2 {
    color: var(--primary-green);
    font-weight: 500;
}

main p {
    color: var(--secondary-text);
    font-weight: 200;
}

/* welcome */

.welcomeContainer {
    display: flex;
    
}


.welcomeText {
    flex: 1;
    text-align: left;  
}

  
.welcomePic {
   flex: 1;
   padding-left: 4em;
   
}

.welcomePic img {
    width: 100%;
    height: 80%;
  
  
}

.welcomeText h2 {
    padding: 1.5em 0 0 1.5em;
}

.welcomeText p {
    margin-top: 2em;
    padding: 0 0 0 2em;
    font-size: 1.2rem;
    line-height: 1.5;

}

.welcomeButton {
    padding: 1.5em 2.5em;
}

/* menu */

.menuContainer {
    display: flex;
    
}

.menuPic {
    flex: 1.5;
    padding: 1em;
}

.menuPic img {
      width: 100%;
      height: 90%;
      
}

.menuText {
    flex: 2;
    text-align: left;
    padding: 1em 0 0 2em;

}

.menuText h2 {
    padding: 1.5em 1.5em 0 0;

}

.menuText p {
    margin-top: 2em;
    padding: 0 2em 0 0;
    font-size: 1.2rem;
    line-height: 1.5;

}

.lookButton {
    padding: 1.5em 0 0 0;

}

/* private hire */


.privateContainer {
    display: flex;
    margin-top: 5em;
}

.privateText {
    flex: 1;
}

.privatePic {
    flex: 1;
}

.privatePic img {
    width: 100%;
    height: 100%
}

.privateText h2 {
    padding: 1.5em 0 0 1.5em;

}

.privateText p {
    margin: 2em 3.7em 0 0;
    padding: 0 0 0 2em;
    font-size: 1.2rem;
    line-height: 1.5;

}

.enquireButton {
    padding: 1.5em 2.5em;
}

hr {
    margin-top: 6em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/* events */

.eventsContainer {
    margin-top: 7em;
}

.eventsTitle  {
    text-align: center;
}


.events {
    display: flex;
    justify-content:space-evenly;
    gap: 3em;
    align-items: flex-start;
    margin-top: 2em;
    padding: 3em;
  
}

.card {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    text-align: left;
    line-height: 1.5em;
    border-radius: 1em;
    padding: 0.5em;

}


.card img {
    border-radius: 1em;
   
}

.card h3 {
    margin: 0.5em 0 0 0.4em;
    color: var(--primary-green);
    font-size: 1.5em;
    font-weight: 400;
    
}

.card p {
    margin: 0.5em 0 0 0.5em;
    font-size: 1em;
    color: var(--secondary-text);
    font-weight: 300;
}

.card .date {
    display: flex;
    margin: 0.5em 0 0 0.5em;
    font-size: 1em;
}

.date img {
    margin-top: 0.7em;
}

.card button {
    margin: 1em 0 0.5em 0.5em;
    cursor: pointer;
}


/* Newsletter */

.newsletterContainer {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.newsletter p {
    margin-top: 2em;

}

.newsletter form {  
    margin-top: 2em;
}

.emailForm {
    width: 100%;
    height: 3em;  
    text-align: center;
    padding: 1em;
}

.newsletterButton {
    margin: 2em 0 2em 0;
}

/* FOOTER */

footer {
    background-color: var(--primary-green);
    color: white;
    padding: 2em 0;

}

footer h3 {
    text-align: center;
    margin: 0.5em 0 0 0;
    font-size: 3rem;
    font-weight: 500;

}

footer h3 a {
    text-decoration: none;
    color: white;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name img {
    margin: 1.5em 0 0 1em;
}

.socialMedia {
    text-align: center;
    margin-top: 1.5em;
    transition: transform 0.3s ease;
}

.x:hover {
    transform: translateY(3px);
}

.insta:hover {
    transform: translateY(3px);
}


.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
   
}

.footerLeft, .footerRight {
    flex: 1;
    color: white;
 
}

.footerLeft h4, .footerRight h4 {
   font-size: 1.2rem;
   padding-top: 0.5em;
   font-weight: 400;
 
}

.footerLeft p, .footerRight p {
    font-weight: 200;
}

.footerLeft {
    line-height: 2em;
    margin: 1em 6em;
    padding-left: 6em;
}


.footerLeft p {
    font-size: 0.9rem;
    padding-top: 0.4em;
}


.footerRight {
    line-height: 2em;
    margin: 1em 3em;
    padding-right: 5em;
}


.footerRight p {
    font-size: 0.9rem;
    padding-top: 0.4em;

}

.contactColor {
    color: var(--primary-hover);

}

.contactColor a {
    color: var(--primary-hover);
    text-decoration: none;
}




/* Our story */

.aboutContainer {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about p {
    margin-top: 1em;
    line-height: 1.5em;
}

.ingredientsContainer {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.ingredients p {
    margin-top: 1em;
    line-height: 1.5em;

}

.teamContainer h2 {
    text-align: center;
    margin-top: 3em;

}


.teamGrid {
    display: grid;
    margin-top: 2em;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 2em;
}


.teamItem h3, p {
    line-height: 1.5em;

}

.teamItem h3 {
    color: var(--primary-green);
    margin-top: 0.3em;
}

.teamItem img {
    border-radius: 0.5em;
}


.careersContainer {
    display: flex;
    margin: 5em 2em 0 2em;
    text-align: center;
    background-color: rgb(56, 116, 79, 0.1);
    padding: 3em 5em 3em 5em;
   
   
}

.careers p {
    margin-top: 1em;
    line-height: 1.5em;
    color: var(--primary-text);
}


/* Menus */

.mainMenus {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5em;
    text-align: center;
   
}



.menuTitles {
    border-top: solid black 0.1em;
    border-bottom: solid black 0.1em;
    padding: 1em 0 1em 0;
}



.starter, .main, .dessert {
    margin-top: 4em;
}



.menuItems h3 {
    color: var(--primary-green);
    font-weight: 500;
    margin-top: 1em;
}
    
.menuItems p {
        color: var(--secondary-text);
        font-weight: 200;
        margin-top: 0.5em;
        
}

.menuButton {
    margin-top: 2em;
}

.seasonMenu {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-top: 8em;
}

.allergies {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 2em;
    
}

.carousel {
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 6em;
}

.slides {
    display: flex;
    width: 90%;
    transition: transform 30s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 60%;
    display: block;
    border-radius: 0.5em;
}

input[type="radio"] {
    display: none;
}

#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-700%);
}


.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin: 4em 0 2em 0;
  
}

.arrow {
    background-color: var(--primary-green);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 2em;
    font-weight: 100;
    padding-bottom: 5px;
}

.arrow::before {
    content: '›';
 
}

.arrow.next::before {
    content: '‹';
}


/* Private */

 .privateImage {
    width: 100%
 }


 .venueContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
 }

 .venue h2 {
    margin-bottom: 1em;

 }

 .venue p {
    margin-top: 2em;
    line-height: 1.5em; 
 }

 .venuePictures {
    display: flex;
    margin-top: 8em;
 }

.venuePictures h3 {
    color: var(--primary-green)
}

.venuePictures img {
    border-radius: 0.5em;
}

 .venuePictureOne {
    flex: 1;
    margin-left: 3em;
   
 }

 .venuePictureOne img {
    width: 100%;
 }


.venueSectionOne {
    flex: 1;
    margin: 13em 0 0 3em;
    text-align: center;
    line-height: 3em;
}

.venueSectionTwo {
    flex: 1;
    margin: 13em 0 0 0em;
    text-align: center;
    line-height: 3em;

}

.venuePictureTwo {
    flex: 1;
    margin-right: 3em;
}

.venuePictureTwo img {
    width: 100%;
}


/* Contact */

.contactContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5em;
    text-align: center;
    margin-top: 5em;
    
}

.contactContainer h2 {
    border-top: solid black 0.1em;
    border-bottom: solid black 0.1em;
    padding: 1em 0 1em 0;
}

.contactContainer h3 {
    margin-top: 1.8em;
    color: var(--primary-green);
}

.contactContainer p {
    margin-top: 0.5em;
}

.socialMediaContact {
    padding-top: 2.8em;
}

.socialMediaContact p {
    padding-top: 0.5em;
}


.map {
    margin-top: 4em;

}

.map img {
    width: 100%;
    margin-top: 5em;
}

.map h2 {
    text-align: center;
    
}

/* Events */ 

.eventsIntro {
    text-align: center;
    line-height: 1.5em;
    margin-top: 1em;
    padding: 0 3em;
}


/* Booking */


.reservationContainer {
    display: flex;
}


.reservationTitle {
    text-align: center;
    margin-top: 2em;

}

.reservationImage {
    flex: 2;
    margin-top: 4em;
}

.reservationForm {
    margin: 4em 5em 0 0;
    flex: 1;
    padding: 2em 3em;
    background-color: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


.form-group {
    margin-bottom: 15px;
    color: var(--primary-green);
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: var(--primary-text);
    
}


input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    height: 100px;
    resize: vertical;
}


.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-group input {
    margin-right: 10px;
}

.tableButton {
  margin: 1em 0 0 0;
}



.reservationText {
    flex: 2;
    margin-top: 3em;

}



.reservationText p {
    margin: 1em 0;
    padding: 0 1em;
    

}

.reservationInfo {
    display: flex;
    margin-top: 5em;

}

.reservationInfo h3 {
    color: var(--primary-green);
    font-family: var(--primary-font);
    font-weight: 400;
    text-align: center;
 
}

.reservationInfo p {
    margin-top: 2em;
    padding: 0 5em;

}

.cancellationPolicy {
    flex: 1;
}

.dressCode {
    flex:1;
}



/* Blog */


.blogContainer {
    display: grid; 
    grid-template-columns: auto auto;
    
}




.blog {
 margin: 1em 2em 5em 2em;
 padding: 1em;
    
 
}


.blogDate {
    padding: 0 0 1.3em 0;
}



.blog h2 {
    border-bottom: solid black 0.1em;
    padding: 0 0 0.5em 0;
    line-height: 1.2em;
     
}


  

.blog img {
    width: 100%;
    height: 20em;
    margin: 2em 0 0 0;
}


.blogDescription {
    line-height: 1.7em;
    margin: 2em 0 0 0;
    text-align: left; 
    height: 17em; 
    padding-right: 1em; 
}

.blogButton {
    margin: 1em 0 0 0;
}


@media only screen and (min-width: 1025px) {

    .mobile {
        display: none;
    }

}


/* MOBILE */


@media only screen and (max-width: 767px) {

.web {
    display: none;
}

header {
    padding: 0;
    margin: 0;
}

nav {
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    padding: 1em 0;
}

nav ul {
    padding: 0;
    gap: 0;
}

nav li {
    font-size: 0.5rem;
    
  
}

.btn {
    padding: 0.2em 0.6em;
    font-size: 0.4rem;
    
}



.bookButton {
    margin: 0;
}

.stars {
    margin: 0.1em 0 0 0.5em;
}

main {
    margin: 0;
    padding: 1rem;
}

main h2 {
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin: 0.5em 0 0.8em 0;
}



 .welcomeContainer,
 .menuContainer,
 .privateContainer,
 .teamGrid,
 .contactContainer,
 .eventsContainer
        {
     flex-direction: column;
     align-items: center;
     padding: 0.5em 0 0 0 ;
     margin: 0;
 }

 

.welcomeText p, 
.menuText p, 
.privateText p,
.card p {
    font-size: 0.6rem;
    padding: 0 0 0 0;
    margin: 0.7em 0 0 0;
    text-align: center;
}


.welcomeButton, 
.enquireButton, 
.lookButton {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1em;
}


.welcomePic, 
.menuPic, 
.privatePic {
    padding: 0;
    margin: 1em 0 0.5em 0; 
    display: flex;
    justify-content: center;
   
}


.welcomePic img, 
.menuPic img, 
.privatePic img

            {
    max-width: 100%;
    width: 70%;
    height: auto;
    
}


.card img {
    max-width: 100%;
    max-height: 100%;
}



.card h3 {
    margin: 0;
    font-size: 0.8em;  
}

.date img {
    width: 12px;
    height: 12px;
    margin: 0.4em 0.2em 0 0;
}



.card p {
    font-size: 0.6em;
    text-align: left;
    
}

.card {
    width: 70%;
    margin: 0.7em 0 0 0;
}

.card .date {
    margin:  0;
    padding: 0;
}

.events {
    margin: 0.1em;
    padding: 1em;
}

.eventsTitle {
    margin: 2em 0 0 0 ;
}

.btn {
    font-size: 0.5em;
}

.emailForm {
    width: 80%;
}

footer h3 {
    font-size: 2rem;
}

.footerLeft {
    margin: 1em 0;
}

.footerRight {
    margin: 1em 0;
}

.footerLeft h4,
.footerRight h4 {
    font-size: 1em;
}

.footerLeft p,
.footerRight p {
    font-size: 0.5em;
}

.footerContainer {
    justify-content: center;
}

}